* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
  /* background-image: url("https://static.vecteezy.com/system/resources/thumbnails/037/228/850/small/ai-generated-exercise-machines-in-a-gym-free-photo.jpg");
  background-size: cover; */
}
.container {
  width: 50dvw;
  height: 90vh;
  padding: 30px;
  border-radius: 50px 0 50px 0;
  overflow: hidden;
  position: relative;
  /* backdrop-filter: blur(10px); */
  animation: Shadowloop 5s linear infinite;
}
@keyframes Shadowloop {
  100%,
  0% {
    box-shadow: 0px -15px 40px black;
  }
  25% {
    box-shadow: 15px 0px 40px black;
  }
  50% {
    box-shadow: 0px 15px 40px black;
  }
  75% {
    box-shadow: -15px 0px 40px black;
  }
}
/* ----------------------------------------------------id-namie--------------------------- */
.id-namie {
  height: 70px;
}
.id-namie h1::after {
  content: "";
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    border: 1px solid;
  }
}
.id-namie label {
  color: whitesmoke;
}
/* ----------------------------------------------------note--------------------------- */
.note {
  height: 70px;
  font-size: 20px;
  /* background-color: #833ab4; */
  margin-left: 50px;
}
.note label span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.2px whitesmoke;
  animation: text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}
@keyframes text {
  25%,
  100% {
    display: none;
  }
}
.note label span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid whitesmoke;
  color: whitesmoke;
  white-space: nowrap;
  overflow: hidden;
  animation: text-file 4s linear infinite;
}

@keyframes text-file {
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}
.note h3 {
  padding-left: 25px;
}
/* ----------------------------------------------------link--------------------------- */
.link {
  position: absolute;
  height: 200px;
  display: grid;
  /* background-color: #833ab4; */
  bottom: 30px;
}
.link a {
  width: max-content;
  height: max-content;
  text-decoration: none;
  width: max-content;
  padding: 20px 150px;
  border-radius: 0 30px;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  transition: 0.3s linear 0.1s;
}
.link a:hover {
  background-color: whitesmoke;
  color: black;
  transform: scale(1.07);
}
.modal {
  display: none;
  position: fixed;
  inset: 0;
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: whitesmoke;
  padding: 20px 30px;
  border-radius: 20px 0;
  text-align: center;
}

#confirmBtn {
  background: green;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  transition: 0.2s linear;
}
#confirmBtn:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 2px black;
}

#cancelBtn {
  background: red;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  transition: 0.5s linear;
}
#cancelBtn:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 2px black;
}
/* ----------------------------------------------------media--------------------------- */
@media (max-width: 1150px) {
  .container {
    width: 60dvw;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 70dvw;
  }
}
@media (max-width: 850px) {
  .container {
    width: 80dvw;
  }
}
@media (max-width: 750px) {
  .container {
    width: 90dvw;
  }
}
@media (max-width: 650px) {
  .link a {
    padding: 20px 100px;
  }
}
@media (max-width: 550px) {
  .link {
    height: 170px;
  }
  .link a {
    padding: 15px 75px;
    border-radius: 0 15px;
  }
}
@media (max-width: 450px) {
  .link {
    height: 150px;
  }
  .link a {
    padding: 12px 50px;
    border-radius: 0 15px;
  }
}
@media (max-width: 400px) {
  .container {
    width: 95dvw;
  }
}
