* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("https://png.pngtree.com/background/20230519/original/pngtree-an-old-gym-setting-with-dumbbells-picture-image_2667256.jpg");
    background-size: cover;
}:root {
    --font-color:rgb(255, 255, 255);
    --font-size: 30px;
    --container-radius: 0 100px 0 100px;
    /* ----------Calculation---------- */
    --con-padd: calc(2 * var(--font-size));
    --pad-w:calc(3 * var(--font-size));

}
.container {
    width: 0;
    height: 0;
    color: var(--font-color);
    border-radius: var(--container-radius);
    overflow: hidden;
    animation: loading 1s forwards 0s;
}
@keyframes loading {

    to {
        width: 85%;
        height: 90%;
        padding: var(--con-padd);
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(3px);
    }
}
.container .id-name h1{    
    width: 150px;
    font-size: 30px;
    border-right:2px solid var(--font-color);  
    animation: blink-curser .55s alternate infinite;
     margin-top: -8px;
}
@keyframes blink-curser {
    100% {
        border: none;
    }
}
.container .id-name .age{
   font-size:13px;
   color: yellowgreen;
}
h3{
    text-align: right;
}

.notes{    
    padding: 60px;
    width: 270px;
}
.notes h2 {
    font-size: var(--font-size);
    --wts: calc(.008 * var(--font-size));
}

.notes h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: var(--wts) var(--font-color);
    animation: text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

.notes h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid var(--font-color);
    color: var(--font-color);
    white-space: nowrap;
    overflow: hidden;
    animation: text-file 4s linear infinite;
}

@keyframes text {

    25%,
    100% {
        display: none;
    }
}

@keyframes text-file {

    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

a {
    width: max-content;
    text-decoration: none;
    padding:15px var(--pad-w);
    font-size: 20px;
    background-color: rgba(175, 175, 175, 0.129);
    border-radius: 0px 30px;
    transition-duration: .2s;    
    color: var(--font-color);
}
@media (min-width:760px){
    a:hover{
        background-color: var(--font-color);
        font-size: 22px;
        color: black;
    }
}
.link{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
 
}
.container::before{
  content: "";
  position: absolute;
  top: 23%;
  left:50%;
  height: 40%;
  width: 2px;
  background: var(--font-color);
}
.promotions{
    position: absolute;
    display:box;
    top: 23%;
    left: 52%;
    width: max-content;
}
.promotions::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;   
    width: 0; 
    border: 1px solid;
    animation: unline 20s forwards ;
}
@keyframes unline{
    100%{
        width: 100%;
    }
}
@media (max-width:760px){
    :root{
       --font-size: 20px;

    }
    .notes{    
    padding: 50px 15px 100px 15px;
    width: 180px;
    }
    .promotions h3{
        text-align: center;
        width: 134px;   
    }
    
}
@media (max-width:560px){
    .link{
        position: absolute;
        bottom: 50px;
        place-items: center;
    }
    .promotions {
        left: 0;  
        top: 30%; 
        padding:0px 50px 100px 50px; ;
    }
    .container::before{
        height: 0;
        left: 10%;
        width: 50%;
        top: 38%;
        border-bottom: 1px solid;
    }
    .notes{    
    margin: -20px 0px 0px 100px;
    width: 180px;
    }
    .promotions::before{
        border: none;
    }
    #call{
        font-size: 15px;
    }


}
